:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #E2E2E2;
  --verde: green;
  --matrix: #00ff00;
  --pretoT: rgba(0, 0, 0, 0.7);
}

body {
  margin: 0;
  font-family: var(--fonte);
  background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    #658a4c 50%,
    rgba(255, 255, 255, 0.651) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1e3821;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid var(--matrix);
  background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    #73ba46 50%,
    rgb(255, 255, 255) 100%
  );
}
